<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<title>heart_pred</title>

</head>
	<style>
    #main-footer
    {
      color: #FFFFFF;
      font-family: "Segoe UI";
      background: #2B2B2B;
      text-align: center;
      margin-top: 125px;
      padding: 16px;
      bottom: 8px;
    }</style>
<body>
    <header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">ML Medical Prediction App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
					<a class="nav-item nav-link" href="/">Home</a>
					<a class="nav-item nav-link" href="/about">About</a>
					<a class="nav-item nav-link" href="/cancer">Cancer</a>
					<a class="nav-item nav-link" href="/diabetes">Diabetes</a>
					<a class="nav-item nav-link" href="/heart">Heart</a>
					<a class="nav-item nav-link" href="/liver">Liver</a>
					<a class="nav-item nav-link" href="/kidney">Kidney</a>
					<a class="nav-item nav-link" href="/Malaria">Malaria</a>
					<a class="nav-item nav-link" href="/Pneumonia">Pneumonia</a>
        </div>
        <!-- Navbar Right Side  This goes up <a class="nav-item nav-link" href="/Pneumonia">Pneumonia</a>
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/login">Login</a>
          <a class="nav-item nav-link" href="/register">Register</a>
        </div>-->
      </div>
    </div>
  </nav>
</header>
<!-- 18 Feb Start-->
<!-- Note: Added This to align all the input text boxes -->
<style type="text/css">
	label {
		width: 200px;
		padding-top: 10px;
		display: inline-block;
	}
</style>
<!-- 18 Feb End-->
<div class="container",class="form-group">
        <h2>Details Heart: </h2>
    <h2>Welcome</h2>
    <h3>Enter the Following parameters :</h3>
  <form action="/result" method="POST">
		<label for="age">Age: </label>
    <input type="text" id="age" name="age" placeholder="E.g: 67">
    <br>

    <label for="sex">Sex (1:Male,0:Female): </label>
    <input type="text" id="sex" name="sex" placeholder="(1 = Male; 0 = Female) E.g: 1">
    <br>

    <label for="cp">Chest pain type (4 values): </label>
    <input type="text" id="cp" name="cp" placeholder="(0 To 4) E.g: 0">
    <br>

    <label for="trestbps">Resting blood pressure: </label>
    <input type="text" id="trestbps" name="trestbps" placeholder="E.g: 160">
    <br>

     <label for="chol">Serum cholestoral in mg/dl: </label>
    <input type="text" id="chol" name="chol" placeholder="E.g: 286">
    <br>

		<label for="fbs">Fasting blood sugar > 120 mg/dl: </label>
	 	<input type="text" id="fbs" name="fbs" placeholder="(1 = True; 0 = False) E.g: 0">
	 	<br>

    <label for="restecg">Resting electrocardiographic results (values 0,1,2): </label>
    <input type="text" id="restecg" name="restecg" placeholder="(0,1,2) E.g: 0">
    <br>

    <label for="thalach">Maximum heart rate achieved: </label>
    <input type="text" id="thalach" name="thalach" placeholder="E.g: 108">
    <br>

    <label for="exang">Exercise Induced Angina: </label>
    <input type="text" id="exang" name="exang" placeholder="(1 = Yes; 0 = No) E.g: 1">
    <br>

    <label for="oldpeak">Oldpeak = ST depression induced by exercise relative to rest: </label>
    <input type="text" id="oldpeak" name="oldpeak" placeholder="E.g: 1.5">
    <br>

    <label for="slope">Slope of the peak exercise ST segment: </label>
    <input type="text" id="slope" name="slope" placeholder="(1 To 3) E.g: 1">
    <br>

		<label for="ca">Number of major vessels (0-3) colored by flourosopy: </label>
		<input type="text" id="ca" name="ca" placeholder="(0-3) E.g: 3">
		<br>

    <label for="thal">Thal: 3 = normal; 6 = fixed defect; 7 = reversable defect [0,1,2,3]: </label>
    <input type="text" id="thal" name="thal" placeholder="E.g: 2">
    <br>
    <br>

    <input type="submit" value="Submit"><br><br>
</form>


    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<footer id="main-footer">
      Please note: These models are just predictions and can make prediction errors.
    </footer>
</body>
</html>
